<!DOCTYPE html>
<html>
<head>
  <title>Serverless Sinatra</title>
  <meta property="og:image" content="<%= @movie_id %>>"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>